#mods
@CF/
@DF/
@DayZ-Expansion-Animations/
@DayZ-Expansion-Bundle/
@DayZ-Expansion-Licensed/
@VPPAdminTools/
@ZomBerry Admin Tools/
@Arma 2 Helicopters Remastered/
@Combinable RepairKits/
@Pristine Repair/

#server files
addons/
appcache/
battleye/
bliss/
docs/
logs/
dta/
keys/
ban.txt
dayz.gproj
dayzsetting.xml
whitelist.txt

#logs/report files
*.dll
*.RPT
*.mdmp
*.ADM
*.log
*.vdf
*.ch
*.bak
*.exe
desktop.ini
/config/DataCache
mpmissions/dayzOffline.enoch/
mpmissions/dayzOffline.chernarusplus/
mpmissions/dayzOffline.chernarusplus/storage_0/
mpmissions/dayzOffline.chernarusplus/storage_1/
mpmissions/expansion.enoch/storage_0/
mpmissions/expansion.enoch/areaflags.map
mpmissions/expansion.enoch/storage_1/

#VPP
config/VPPAdminTools/Logging/*.txt
config/VPPAdminTools/Permissions/credentials.txt
config/Users/

#Expansions
config/ExpansionMod/Groups/
config/ExpansionMod/ATM/
config/ExpansionMod/Hardline/PlayerData/
config/ExpansionMod/Quests/PlayerData/
config/ExpansionMod/Quests/GroupData/

#include
!DayzServer.bat
